<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="Kashem Locker"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".LockedAppActivity" android:exported="false"/>
        <activity android:name=".UnlockActivity" android:exported="false"/>
        <activity android:name=".SetPinActivity" android:exported="false"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".service.LockAccessibilityService" 
        android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" 
        android:exported="false"> 
        <intent-filter> 
        <action android:name="android.accessibilityservice.AccessibilityService"/> 
        </intent-filter> 
        <meta-data android:name="android.accessibilityservice" 
        android:resource="@xml/accessibility_service"/> 
        </service> 
        <service android:name=".service.LockService" android:exported="false"/> 
        <receiver android:name=".receiver.BootReceiver" android:exported="false"> 
        <intent-filter> 
        <action android:name="android.intent.action.BOOT_COMPLETED"/> 
        </intent-filter> 
        </receiver>
<activity android:name=".DashboardActivity" android:exported="true"/> 
<activity android:name=".UnlockActivity" android:exported="false"/> 
<activity android:name=".LockedAppsActivity" android:exported="false"/> 
<service android:name=".service.LockAccessibilityService" 
 android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" 
 android:exported="false"> 
 <intent-filter> 
 <action android:name="android.accessibilityservice.AccessibilityService"/> 
 </intent-filter> 
 <meta-data android:name="android.accessibilityservice" 
 android:resource="@xml/accessibility_service"/> 
</service> 
<service android:name=".service.LockService" android:exported="false"/> 
<receiver android:name=".receiver.BootReceiver" android:exported="false"> 
 <intent-filter> 
 <action android:name="android.intent.action.BOOT_COMPLETED"/> 
 </intent-filter> 
</receiver>
    </application>
</manifest>
